/* Allign Icons to Left */
#what .items{
    display:block;
    padding: 1rem;
}
#what .items .item{
    display: flex;
    text-align: left;
}
#what .items .item i{
    align-self: center;
    margin-right: 1.3rem;
    margin-bottom: 0;
}

#contact .map{
    flex:2;
}

@media(max-width:500px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #navbar .logo{
        margin-bottom: .75rem;
    }
    #navbar ul{
        padding-bottom:.75rem; 
    }
    #who .who-img{
        display: none;
    }
    #clients .items img{
        width:80%;
    }
    #clients .items div:last-child{
        display: none;
    }
    #contact{
        /* flex-direction: column; */
        display: block;
    }
    #contact .map{
        height:200px;
    }
    #showcase .showcase-content{
        top:104px;
    }
}

@media(max-height:568px){
    .l-heading{
        font-size: 3rem;;
    }
}