@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto",sans-serif;
    line-height: 1.4;
}
a{
    text-decoration: none;;
}
p{
    margin:0.75rem 0;
}
/* Utility Classes */
.text-primary{
    color:#93cb52;
}
.text-center{
    text-align:center;
}
.bg-light{
    background: #f4f4f4;
    color:#333;
}
.bg-dark{
     background: #333;
    color:#f4f4f4;
}
.bg-primary{
     background: #93cb52;
    color:#f4f4f4;
}
.l-heading{
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
.m-heading{
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.btn{
    display: inline-block;
    color:#fff;
    background:#93cb52;
    padding:0.5rem 2rem;
    border:none;
    border-radius: 5px;
}
.btn:hover{
    background: #7ab436;
}
.btn-dark{
    background: #333;
    color:#fff
}
.list{
    margin:0.5rem 0;
    list-style: none;
}
.list li{
    padding:0.5rem 0;
    border-bottom:1px dotted #444 ;
}
.py-1{
    padding:1.5rem 0;
}
.py-2{
    padding:2rem 0;
}
.py-3{
    padding:3rem 0;
}
.p-1{
padding:1.5rem;
}
.p-2{
padding:2rem;
}
.p-3{
padding:3rem;
}
/* Navbar */
#navbar{
    display: flex;
    position:sticky;
    top:0px;
    background: #333;
    color:#fff;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

#navbar ul{
    display: flex;
    list-style: none;
    color:#fff;
    align-items: center;
}

#navbar ul li a{
    padding: 0.75rem;
    margin:0 0.25rem;
    color:#fff;    
}

#navbar ul li a:hover{
    background: #93cb52;   
    border-radius: 5px;
}

#showcase{
    background: #333 url(../img/showcase.jpg) 
    no-repeat center center/cover;
    height:100vh;
    color:#fff;
}
#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    /* Overlay */
    position: absolute;
    top:65px;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: rgba(0,0,0,0.4);
}

/* About */
.container{
    max-width: 1100px;
    margin:auto;
    padding: 0 2rem;
    overflow: hidden;
}

/* Section What */
#what .items{
    display: flex;
    flex-direction: row;
    padding: 1rem;
}
#what .item{
    flex: 1;
    text-align: center;
    padding: 1rem;
}

#what .items i{
    background: #93cb52;   
    color:#333;
    border-radius: 50%;
    padding: 1rem;
    margin-bottom: 1rem;
}

/* Section Who */
#who{
    display: flex;   
}
#who div{
    flex:1
}

#who .who-img{
    background: #333 url(../img/people.jpg) no-repeat center  center/cover;
}

/* Section Clients */
#clients .items{
    display: flex;
}
#clients .items img{
    display: block;
    margin:auto;
    width:60%;
}

/* Section Contacts */
#contact{
    display: flex;
}

#contact .contact-form,#contact .map{
    flex:1;
}

#contact .form-group{
margin:.75rem
}

#contact .form-group label{
    display: block;
}
#contact .form-group input,#contact .form-group textarea{
    width:100%;
    padding: .5rem;
}
