/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 131, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  /* https://bennettfeely.com/clippy/ */
  /* clip-path: polygon(x y, x y, x y, x y); */
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}
.logo {
  height: 35px;
}
.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* animation issue fix for the text going up */
  backface-visibility: hidden;
}
.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  /* specify the keyframes animation name */
  animation-name: moveInLeft;
  /* specify the keyframes animation duration */
  animation-duration: 1s;
  /* specify the animation delay */
  /* animation-delay: 3s; */
  /* specify the animation count */
  /* animation-iteration-count: 3; */
  animation-timing-function: ease-out;
}
.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 18px;
  /* shorthand for all animation */
  animation: moveInRight 1s ease-out;
}
/* animation to move box from left */
@keyframes moveInLeft {
  0% {
    /* beginning of animation we want it to be invisible */
    opacity: 0;
    /* we need to simulate the box move from left to right so initially we keep it as left */
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    /* at end of animation we need to show the box */
    opacity: 1;
    /* we need to move the box to original position*/
    transform: translateX(0px);
  }
}
/* animation to move box from right */
@keyframes moveInRight {
  0% {
    /* beginning of animation we want it to be invisible */
    opacity: 0;
    /* we need to simulate the box move from left to right so initially we keep it as left */
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    /* at end of animation we need to show the box */
    opacity: 1;
    /* we need to move the box to original position*/
    transform: translateX(0px);
  }
}
